.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
}

.processFlow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 5% 15% 0 15%;
}

.wire {
  width: 10%;
  border-style: solid;
  margin-bottom: 5%;
}

.solarImage {
  width: 25%;
}

.chargerImage {
  width: 5%;
}

.batteryImage {
  width: 10%;
}

.sensors {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
}